*{
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    font-weight:normal;
}

header{
    display: flex;
    justify-content: space-between;
    margin-left: 50px;


}

header>h1{
    font-weight: 300;
}

body{
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-seri
}


ul{
    display: flex;
    list-style-type: none;
    justify-content: space-around;
    font-size: x-large;
}

li:hover{
    cursor: pointer;
    color:red;
}
nav{
    width:35vw;
    margin-top:10px;
}
.bigImage{
    width:95vw;
    margin:1rem;
}
.container{
    display: flex;
    margin-top: 10px;
}

.container>div{
    text-align: center;
    margin:2rem;
}

.container>div>p{
    font-size: x-large;
    line-height: 1.5rem;

}

footer{
    text-align: center;
    background-color: black;
    color: whitesmoke;
    height: 4rem;
    font-size: x-large;
}

footer>p{
    padding: 1rem;

}